.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  font-family: 'Roboto', sans-serif;
}

.modal__container {
  background-color: white;
  border-radius: 20px;
  padding: 34px 36px 28px;
  box-sizing: border-box;
  max-width: 430px;
  width: 100%;
  position: relative;
}

.modal__close-button {
  position: absolute;
  top: -35px;
  right: -35px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.modal__close-icon {
  width: 40px;
  height: 40px;
}

.modal__title {
  margin: 0 0 22px;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  font-family: 'Roboto', sans-serif;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 9px;
  color: #2f71e5;
}

.modal__input {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}

.modal__error {
  font-size: 12px;
  color: #f00;
  margin-top: 3px;
  margin-bottom: 13px;
}

.modal__submit {
  margin-top: 18px;
  padding: 26px 0;
  background-color: #2f71e5;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal__submit:hover {
  background-color: #2f71e5;
}

.modal__submit_disabled {
  background-color: #e6e8eb;
  color: #b6bcbf;
  cursor: not-allowed;
}

.modal__footer {
  font-family: 'Inter', sans-serif;
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.modal__link {
  font-family: 'Inter', sans-serif;
  color: #2f71e5;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}
.modal__link:hover {
  text-decoration: underline;
}
.modal__input::placeholder {
  color: #b6bcbf;
  font-size: 14px;
}

.modal__error_server {
  color: #f00;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}
