/* ========== 768px BREAKPOINT ========== */

@media screen and (max-width: 768px) {
  .header__container {
    padding: 14px 40px 12px;
  }

  .header__logo {
    width: 200px;
    height: 24px;
  }

  .header__content {
    margin-left: 160px;
    margin-right: 156px;
    align-items: flex-start;
  }

  .header__title-desktop {
    display: none;
  }

  .header__title-tablet {
    display: block;
    width: 385px;
    font-size: 36px;
    line-height: 40px;
    margin-top: 30px;
    margin-bottom: 16px;
  }

  .header__subtitle {
    width: 452px;
    margin-bottom: 48px;
    text-align: left;
  }

  .navigation {
    gap: 16px;
  }

  .navigation__link {
    font-size: 16px;
    height: 24px;
    display: inline-block;
    text-align: center;
  }

  .navigation__link--home {
    width: 49px;
  }
  .navigation__link--home::after {
    width: 60px;
  }
  .navigation__link--saved {
    width: 160px;
  }

  .navigation__link--saved::after {
    width: 160px;
  }

  .navigation__button {
    font-size: 16px;
  }

  .navigation__link--active::after {
    bottom: -24px;
  }
  .search-form {
    width: 448px;
    height: 56px;
  }

  .search-form__button {
    width: 160px;
    right: -10px;
    padding: 16px 52px;
  }
  .search-form__input {
    padding: 17px 196px 17px 24px;
  }

  .about {
    flex-direction: row;
    align-items: flex-start;
    padding: 40px 40px;
    gap: 32px;
  }

  .about__image {
    width: 232px;
    height: 232px;
    margin: 0;
  }

  .about__text {
    max-width: 424px;
  }

  .about__title {
    font-size: 30px;
    line-height: 34px;
  }
  .footer {
    padding: 20px 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .footer__text {
    flex-shrink: 0;
  }

  .footer__nav-block {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .footer__links {
    display: flex;
    gap: 40px;
  }

  .footer__socials {
    display: flex;
    gap: 24px;
  }
}
/* ========== 480px / 320px BREAKPOINT ========== */

@media screen and (max-width: 480px) {
  .header__container {
    padding: 30px 20px 13px;
  }

  .header__desktop-nav {
    display: none;
  }

  .header__title,
  .header__subtitle {
    width: 90%;
    text-align: center;
  }
  .header__burger {
    display: block;
  }

  .footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 20px;
  }

  .footer__nav-block {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .footer__links {
    flex-direction: column;
  }

  .footer__socials {
    flex-direction: row;
  }
}
