.navigation {
  display: flex;
  align-items: center;
  gap: 42px;
}

.navigation__link {
  font-family: 'Roboto', sans-serif;
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 6px;
  position: relative;
}

.navigation__link--active::after {
  content: '';
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  background-color: currentColor;
  width: 60px;
}

.navigation__link--home::after {
  width: 68px;
}

.navigation__link--saved::after {
  width: 178px;
}

.navigation__button {
  font-family: 'Roboto', sans-serif;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-weight: 500;
  font-size: 18px;
  width: 176px;
  height: 48px;
  padding: 0 20px;
  border-radius: 100px;
  cursor: pointer;
}

.navigation__button-loggedin {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-weight: 500;
  font-size: 18px;
  height: 48px;
  width: 112px;
  padding: 12px 15px 12px 19px;
  border-radius: 100px;
  cursor: pointer;
}

.navigation__logout-icon {
  width: 18px;
  height: 16px;
}

.header_light .navigation__link {
  color: #1a1b22;
}

.header_light .navigation__link--active::after {
  background-color: #1a1b22;
}

.header_light .navigation__button,
.header_light .navigation__button-loggedin {
  color: #1a1b22;
  border-color: #1a1b22;
}

.header_light .navigation__logout-icon {
  filter: brightness(0);
}
