.search-form {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.search-form__input {
  width: 608px;
  height: 64px;
  padding: 21px 208px 21px 24px;
  border: none;
  border-radius: 100px;
  font-size: 18px;
  outline: none;
}

.search-form__button {
  position: absolute;
  right: calc(50% - 320px + 16px);
  top: 50%;
  transform: translateY(-50%);
  height: 64px;
  width: 168px;
  background-color: #2f71e5;
  color: white;
  border: none;
  padding: 20px 56px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-form__button:hover {
  background-color: #1c5ad6;
}
