.modal_type_success .modal__container {
  margin: 0;
  padding: 43px 79px 0 36px;
  max-width: 430px;
  background-color: #fff;
  border-radius: 16px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.modal__title_type_success {
  font-size: 24px;
  font-weight: 900;
  color: #000;
}

.modal__footer_type_success {
  margin-bottom: 51px;
  text-align: left;
}

.modal__link_success {
  font-size: 18px;
  font-weight: 400;
  color: #2f71e5;
  cursor: pointer;
}
