.preloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.circle-preloader {
  width: 74px;
  height: 74px;
  border: 1px solid #444;
  border-bottom-color: #888;
  border-radius: 50%;
  animation: spin 0.75s infinite linear;
}

.preloader__text {
  margin-top: 24px;
  font-weight: 400;
  font-size: 18px;
  color: #b6bcbf;
  font-family: 'Roboto', sans-serif;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
