.header {
  background-image: url('/src/images/header_background.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.header__container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 104px 13px;
  box-sizing: border-box;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
}

.header__top_white {
  background-color: white;
}

.header__logo {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

.header_light .header__logo {
  color: #1a1b22;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  text-align: start;
}
.header__content-wrapper {
  margin: 0 auto;
}
.header__title {
  font-weight: 400;
  font-size: 60px;
  max-width: 608px;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 32px;
}

.header__subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  max-width: 608px;
  width: 100%;
  margin-bottom: 88px;
}
