@import './vendor/fonts/fonts.css';

html {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  max-width: 1440px;
  max-height: 576px;
  width: 100%;
  background-color: rgb(0, 60, 255);
}
